@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

#block{
	height: 20px;
	width: 20px;
	position: absolute;
}

.block-wrapper{
	height: 20px;
	width: 100%;

}

.container-small{
	max-width: 58rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 40em){
	.sm-fixed {
  position: fixed;
	}
}
progress{
	height: 20px !important;
}
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 2em 1em 1em 1em;
	max-width: 23rem;
	width: calc(100% - 2rem);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.5rem 2rem ;
	width: 100%;
}

input.input__field--mia {
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 100;
	display: block;
	padding: 0 0.55em;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	background: #f0f0f0;
	color: #7F8994;
	opacity: 0;

/*	The scale() CSS function modifies the size of the element.*/	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.input__label--mia {
	width: 100%;
	text-align: left;
	cursor: text;
}

.input__label--mia::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-content--mia {
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__field--mia:focus,
.input--filled .input__field--mia {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.input__field--mia:focus + .input__label--mia,
.input--filled .input__label--mia {
	cursor: default;
	pointer-events: none;
}

.input__field--mia:focus + .input__label--mia::before,
.input--filled .input__label--mia::before {
	-webkit-transform: scale3d(1, 1.5, 1);
	transform: scale3d(1, 1.5, 1);
}

.input__field--mia:focus + .input__label--mia .input__label-content--mia,
.input--filled .input__label-content--mia {
	-webkit-transform: translate3d(0, -3.15em, 0) scale3d(0.8, 0.8, 1);
	transform: translate3d(0, -3.15em, 0) scale3d(0.8, 0.8, 1) translateZ(1px);
}

#modal{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-height: 320px;
	height: auto;
	z-index: 99;
	/*-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;*/
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	visibility: hidden;
	
}

.modal-show {
	visibility: visible !important;
}

.modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 50;
	opacity: 0;
	background: rgba(127, 219, 255, 0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.modal-show ~ .modal-overlay {
	opacity: 1;
	visibility: visible;
}

.modal-content{
	-webkit-transform: translateY(20%);
	-moz-transform: translateY(20%);
	-ms-transform: translateY(20%);
	transform: translateY(20%);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.modal-show .modal-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}
.select-dropdown input{
	display: none;

}

.select-dropdown ul {
	cursor: pointer;
}
/*Base style*/
.tabs{
	position: relative;

}

.tabs-wrapper{
	background: #fafafa;
}
.tabs ul{
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	margin-bottom: 0;
}
.tabs nav ul li {
	flex: 1;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	border: 1px solid rgba(40,44,42,0.1);

}

.tabs nav li:not(:last-child){
	border: 1px solid rgba(40,44,42,0.1);
}



.tabs nav a{
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
	background: rgba(40,44,42,0.05);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	padding: 1rem;
}

.tabs nav li.tab-current{

	border-bottom: none;
}

.tabs nav li.tab-current a {
	color: #e74c3c;
	box-shadow: inset 0 5px 0 #e74c3c;
	background: #ffffff;
	border-bottom: 1px solid #fff;
}

.tabs nav a:focus, .tabs nav a:hover  {
	outline: none;
	text-decoration: none;
	color: #e74c3c;
}

.tabs i{
	z-index: 10;
	display: block;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-size: 1.3em;
	line-height: 1;
	speak: none;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 2rem;
}

.content-wrap section{
	display: none;
}

.content-wrap section.content-current {
	display: block;
	background: #fff;
}

@media screen and (max-width: 58em) {
	.tabs nav a.icon span {
		display: none;
	}
}
#timer{
	font-size: 3em;
	background: #ffffff;
	padding: 1rem;
	text-align: center;
	color: #2c3e50;

}

.timer-body{
	background: #ecf0f1;
}

#record li{
	display: block;
	padding: 0.5em;
	border-bottom: 1px solid #dddddd;
	font-size: 1.3rem;
	color: #999999;
}

#record{
	text-align: center;
}

.timer button{
	border-radius: 50%;
	height: 70px;
	width: 70px;
	text-align: center;
	padding: 0;
}

.timer button:focus{
	outline: none;
}


.timer-control{
	text-align: center;
}

#timer-start[value="start"]{
	color: #2ecc71;

}

#timer-start[value="stop"]{
	color: #c0392b;

}

#timer-lap{
	color: #7f8c8d;
}

.timer-active#timer-lap[value="lap"]{
	color: #2e8ece;
}

.timer-active#timer-lap[value="reset"]{
	color: #2c3e50;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

span.animated{
	height: auto;
	display: inline-block;
}

