#timer{
	font-size: 3em;
	background: #ffffff;
	padding: 1rem;
	text-align: center;
	color: #2c3e50;

}

.timer-body{
	background: #ecf0f1;
}

#record li{
	display: block;
	padding: 0.5em;
	border-bottom: 1px solid #dddddd;
	font-size: 1.3rem;
	color: #999999;
}

#record{
	text-align: center;
}

.timer button{
	border-radius: 50%;
	height: 70px;
	width: 70px;
	text-align: center;
	padding: 0;
}

.timer button:focus{
	outline: none;
}


.timer-control{
	text-align: center;
}

#timer-start[value="start"]{
	color: #2ecc71;

}

#timer-start[value="stop"]{
	color: #c0392b;

}

#timer-lap{
	color: #7f8c8d;
}

.timer-active#timer-lap[value="lap"]{
	color: #2e8ece;
}

.timer-active#timer-lap[value="reset"]{
	color: #2c3e50;
}